
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<section class="content">

    @*Header Div Tag Start*@

    @*<div class="row">
        <div class="alert alert-info alert-dismissible" role="alert">
            <marquee scrollamount="2" behavior="alternate" direction="right" width="100%">Student Result Is Declare For Batch 2016....!!!!!</marquee>
</div>
    </div>*@

    @*Header Div End*@

    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="background-color:lightgray;">
                <div class="inner">
                    <a href="#"><h4>Reference Data</h4> </a>                  
                        @*<p >Reference Data</p>*@                 
                   
                </div>
                <div class="icon">
                    @*<i class="ion ion-bag"></i>*@                  
                    @*<i class="fa fa-angle-down" ></i>*@<i class="fa fa-user fa-1x" aria-hidden="true"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa  fa-arrow-circle-right  "></i></a>*@
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box " style="background-color:lightgray;">
                <div class="inner">
                    <a href="#"> <h4>Calender<sup style="font-size: 20px"></sup></h4></a>
                </div>
                <div class="icon">
                    <i class="fa fa-calendar fa-1x" aria-hidden="true"></i>
                    @*<i class="ion ion-stats-bars"></i>*@


                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box " style="background-color:lightgray;">
                <div class="inner">
                    <a href="~/ModuleMaster/FacultyMaster">
                        <h4>Acadamics</h4>
                    </a>
                    @*<p class="zoomOut">Acadamics</p>*@
                </div>
                <div class="icon">
                    <i class="fa fa-book"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box " style="background-color:lightgray;">
                <div class="inner">
                    <a href="~/ModuleMaster/studentMaster">
                        <h4>Student</h4>
                    </a>
                    @*<p class="zoomOut">Student</p>*@
                </div>
                <div class="icon">
                    <i class="fa  fa-users"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->

    <!--row 2 Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="background-color:lightgray;">
                <div class="inner">
                    <a href="~/ModuleMaster/StaffMaster">
                        <h4>Staff</h4>
                    </a>
                    @*<p>Staff</p>*@
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa  fa-arrow-circle-right  "></i></a>*@
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="background-color:lightgray;">
                <div class="inner">
                    <a href="#">
                        <h4>Examination<sup style="font-size: 20px"></sup></h4>
                    </a>
                    @*<p>Examination</p>*@
                </div>
                <div class="icon">
                    <i class="fa fa-leanpub"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="background-color:lightgray;">
                <div class="inner">
                    <a href="#">
                        <h4>Timetable</h4>
                    </a>
                    @*<p>Timetable</p>*@
                </div>
                <div class="icon">
                    <i class="fa fa-edit"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="background-color:lightgray;">
                <div class="inner">
                    <a href="#">
                        <h4>Admission</h4>
                    </a>
                    @*  <p>Admission</p>*@
                </div>
                <div class="icon">
                    <i class=" fa fa-file"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->

    <!--row 3 Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="background-color:lightgray;">
                <div class="inner">
                    <a href="#">
                        <h4 style=" margin-left: -20px;">Student Attendence</h4>
                    </a>
                    @*<p>Student Attendence</p>*@
                </div>
                <div class="icon">
                    <i class="fa fa-pencil"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa  fa-arrow-circle-right  "></i></a>*@
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="background-color:lightgray;">
                <div class="inner">
                    <a href="#">
                        <h4>Staff Attendence<sup style="font-size: 20px"></sup></h4>
                    </a>s
                    @*<p>Staff Attendence</p>*@
                </div>
                <div class="icon">
                    <i class="fa fa-pencil"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="background-color:lightgray;">
                <div class="inner">
                    <a href="#">
                        <h4>ScholerShip</h4>
                    </a>
                    @*<p>ScholerShip</p>*@
                </div>
                <div class="icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="background-color:lightgray;">
                <div class="inner">
                    <a href="#">
                        <h4>ID Card</h4>
                    </a>
                    @*<p>ID Card </p>*@
                </div>
                <div class="icon">
                    <i class=" fa fa-photo"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->

    <!--row 4 Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="background-color:lightgray;">
                <div class="inner">
                    <a href="#">
                        <h4>Certificate</h4>
                    </a>
                    @*<p>Certificate</p>*@
                </div>
                <div class="icon">
                    <i class=" fa fa-certificate"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa  fa-arrow-circle-right  "></i></a>*@
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="background-color:lightgray;">
                <div class="inner">
                    <a href="#">
                        <h4>Address Book<sup style="font-size: 20px"></sup></h4>
                    </a>
                    @*<p >Address Book </p>*@
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="background-color:lightgray;">
                <div class="inner">
                    <a href="#">
                        <h4>Settings</h4>
                    </a>
                    @*<p>(View Settings)</p>*@
                </div>
                <div class="icon">
                    <i class="fa fa-gears"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <!-- ./col -->
        <a href="~/ModuleMaster/StaffMaster">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box" style="background-color:lightgray;">
                    <div class="inner">
                        <a href="#">
                            <h4>Users</h4>
                        </a>
                        @*<p><br />   </p>*@
                    </div>
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
        </a>
       
        <!-- ./col -->
    </div>
    <!-- /.row -->

</section>

